/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --display-for-rec: inline;
  --accent-color: #FF0070;
  --shadow-color: #FF0070;
  --border-color: #FF0070;
  --border-hover-button-color: #FF007066;
  --accent-color-link: #FF0070;
  --text-title-color: #FF0070;
  --text-big-title-color: #DB00FF;
  --text-shadow-footer-color: #FF0070;
  --text-main-color: #F1B2CE;
  --cover-image: url('../images/cover-image-dark.png');
  --background-color: #000028;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
