/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --cover-image: url('../images/cover-image-light.png');
  --accent-color: #353430;
  --border-color: #353430;
  --shadow-color: #FF8DCB;
  --accent-color-link: #FF8DCB;
  --text-title-color: #353430;
  --text-big-title-color: #FFC2E6;
  --text-main-color: #353430;
  --border-hover-button-color: #32312D66;
  --display-for-rec: none;
  
}

.theme-light .page {
  background-image: var(--cover-image);
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url('../images/cover-image-light.png');
    --accent-color: #353430;
    --border-color: #353430;
    --shadow-color: #FF8DCB;
    --accent-color-link: #FF8DCB;
    --text-title-color: #353430;
    --text-big-title-color: #FFC2E6;
    --text-main-color: #353430;
    --border-hover-button-color: #32312D66;
    --display-for-rec: none;
  }
}