/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  height: 375px;
  width: 668px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
