/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  overflow-x: hidden;
  height: 668px;
  width: 375px;
  background-image: var(--cover-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25.04px;
  height: 25px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25.04px;
  height: 25px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.header__rec {
  display: var(--display-for-rec);
  position: absolute;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  top: 10px;
  right: 38px;
  color: #FF0070;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  position: absolute;
  right: -18px;
  top: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ff0070;
  box-shadow: 0 0 4px 2px #ff0070;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 75px;
  margin-inline-end: 10px;

}

.header__theme-menu-item {
  text-align: center;
  margin-bottom: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  text-transform: lowercase;
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  padding: 1.5px 13px;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-button-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--border-color);
}

.header__title {
  color: var(--text-big-title-color);
  text-transform: lowercase;
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  font-style: Bold;
  font-size: var(--font-size-big-header);
  line-height: 83%;
  letter-spacing: 0%;
  text-shadow: 4px 4px 0 var(--shadow-color);
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-top: 65px;
}

.header__text {
  width: 355px;
  height: 117px;
  opacity: 1;
  margin: 55px 10px 66px 10px;
}

.main {
  margin: 40px 10px;
}

.main__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.main__text {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--text-main-color);
  margin-top: 10px;
}
.main__text-second-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__text-link {
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  text-shadow: 2px 1px 0 var(--accent-color-link);
}

.main__text-link:hover {
  border-bottom: 1px solid var(--text-main-color);
}

.main__text-link:focus-visible {
  outline: none;
  border: 1px solid var(--text-main-color);
}

.main__content-title {
  margin-top: 20px;
}

.main__content-title-list {
  margin: 20px 0;
}

.main__text-block-title {
  color: var(--text-title-color);
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  margin-top: 50px;
}

.main__text-block-title-first {
  margin-top: 0px;
}

.main__title-target {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.section__image-title {
  margin-top: 50px;
}

.main__content-images-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  gap: 10px;
}

.main__image {
  width: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 667px;
}

.footer__text {
  color: var(--text-big-title-color);
  text-transform: lowercase;
  text-shadow: 2px 2px 0px var(--shadow-color);
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  font-size: var(--font-size-big-header);
  line-height: 83%;
  letter-spacing: 0%;
}

@media (min-width: 768px) {
  :root {
    --font-size-big-header: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .page {
    width: 768px;
    height: 1024px;
  }
  
  .header {
    grid-template-rows: repeat(3, auto);
  }

  .header__rec {
    top: 20px;
    right: 48px;
  }
  
  .header__title {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 173px;
  }

  .header__theme-menu {
    margin: 192px 20px 0 0;
  }

  .header__text {
    justify-self: end;
    margin: 162px 20px 183px 0;
    width: 364px;
    opacity: 1;
  }

  .main {
    margin: 60px 0;
  }

  .main__content-first-section {
    display: grid;
    grid-template-columns: 236px 472px;
    gap: 20px;
    grid-template-rows: repeat(2, auto);
  }

  .main__content-title-list {
    margin-top: 0;
  }

  .main__content-title:first-child {
   margin-top: 0px;
  }

  .main__text-block-title {
    margin-top: 0;
  }

  .main__text-block-title-first {
    margin-left: 20px;
  }

  .main__content-second-section {
    margin: 60px 20px 80px 20px;
    gap: 20px;
  }

  .main__text-block-title-second {
    width: 210px;
    height: 70px;
  }

  .main__content-third-section {
    margin: 0 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__content-images-section {
    margin: 80px 20px 60px 20px;
    gap: 20px;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 23px 192px 230px 318px;
    grid-template-areas: 
        "title title title"
        "first-image first-image second-image"
        "third-image fourth-image second-image"
        "third-image fifth-image fifth-image"
  }

  .main__image {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section__image-title {
    grid-area: title;
      margin: 0;
  }

  .main__image-first {
    grid-area: first-image;
    margin-top: 0;

  }

  .main__image-second {
    grid-area: second-image;
  }

  .main__image-third {
    grid-area: third-image;
  }

  .main__image-fourth {
    grid-area: fourth-image;
  }

  .main__image-fifth {
    grid-area: fifth-image;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .footer {
    height: 1024px;
  }
}

@media (min-width: 1024px) {
  .page {
    width: 1024px;
    height: 768px;
  }

  .header__theme-menu {
    margin: 20px 0 273px 0;
    justify-self: center;
    align-self: start;
  }

  .header__title {
    margin: 0;
  }

  .header__theme-menu-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header__text {
    height: 71px;
    width: 491px;
    margin: 110px 20px 134px 0;
  }

  .main__content-first-section {
    grid-template-columns: 315px 649px;
    gap: 40px;
  }

  .main__text-block-title-second {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 315px;
    height: 47px;
  }

  .main__content-second-section {
    margin-top: 40px;
  }

  .main__content-second-section {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }

  .main__content-images-section {
    margin: 80px 20px 60px 20px;
    gap: 20px;
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 23px 260px 315px 433px;
  }

  .footer {
    height: 768px;
  }
}

