/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --display-for-rec: inline;
  --accent-color: #FF0070;
  --shadow-color: #FF0070;
  --border-color: #FF0070;
  --border-hover-button-color: #FF007066;
  --accent-color-link: #FF0070;
  --text-title-color: #FF0070;
  --text-big-title-color: #DB00FF;
  --text-shadow-footer-color: #FF0070;
  --text-main-color: #F1B2CE;
  --cover-image: url('../images/cover-image-dark.png');
  --font-size-big-header: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

